<h2>Questions</h2>


<div class="">
  <form action="/vote" method="post">
    <fieldset class="form-group">
      <label for="name_input">Your name</label>
      <input class="form-control" id="name_input" placeholder="Name">
    </fieldset>
    <% QUESTIONS.each_with_index do |question, index| %>
      <fieldset class="form-group question">
        <h4><%= question.text %></h4>

        <input name="question[<%= index %>][id]" type="hidden" value="<%= question.id %>"/>

        <ul class="list-group sortable">

          <% question.variants.each_with_index do |variant, variant_index| %>

            <li class="panel panel-draggable ui-state-default">
              <input name="question[<%= index %>][vote][]" type="hidden" value="<%= variant_index + 1 %>"/>
              <%= variant %>
            </li>

          <% end %>

        </ul>
      </fieldset>
    <% end %>
    <button type="submit" class="btn btn-primary">Submit</button>

    <a href="/">
      <input type="button" class="btn btn-default" value="Cancel" />
    </a>
  </form>
</div>

